<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.gkpoter.voiceShare"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="20"/>
    <application android:label="@string/app_name"
                 android:theme="@android:style/Theme.NoTitleBar"
                 android:icon="@drawable/logo">
        <activity android:name=".ui.LoginActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".MyActivity"/>
        <activity android:name=".ui.ForgetActivity1"/>
        <activity android:name=".ui.ForgetActivity2"/>
        <activity android:name=".ui.RegisterActivity1"/>
        <activity android:name=".ui.RegisterActivity2"/>
        <activity android:name=".ui.MainActivity"/>
    </application>
</manifest>
